<?xml version="1.0" encoding="UTF-8"?>
<?if $(var.Platform) = x64 ?>
<?define ProductName = "MyiSpy AI (64 bit)" ?>
<?define Win64 = "yes" ?>
<?define UpgradeCode = "646aac21-26ad-49c0-a3d7-84d5d6b90a8c" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
<?define ProductName = "MyiSpy AI" ?>
<?define Win64 = "no" ?>
<?define UpgradeCode = "d161dc3f-2545-45e7-bb15-41e65095c009" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
     
  <Bundle Name="$(var.ProductName)" Version="!(bind.packageVersion.iSpy)" 
          Manufacturer="DeveloperInABox" UpgradeCode="$(var.UpgradeCode)"
          IconSourceFile="ispy.ico">
          
    <Variable Name="InstallFolder" Type="string" Value="[$(var.PlatformProgramFilesFolder)]iSpy"/>
    
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LogoFile="ispy.png"
        LicenseFile="license.rtf"
        SuppressOptionsUI="no"/>
    </BootstrapperApplicationRef>
    
    <Variable Name="LaunchTarget" Value="[InstallFolder]\iSpy.exe"/>
    
    <Chain>
      <!-- .NET Framework 4.5+ -->
      <PackageGroupRef Id="NetFx45Web"/>
      
      <RollbackBoundary/>
      
      <!-- Основной MSI -->
      <MsiPackage Id="iSpy" 
                  SourceFile="$(var.iSpySetup.TargetPath)" 
                  DisplayInternalUI="no" 
                  Compressed="yes" 
                  Vital="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="CONFIGFILELOCATION" Value="[WixBundleOriginalSourceFolder]"/>
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>